@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.Hi {
    color: black;
    font-size: 8vw;
    line-height: 20px;
    text-align: left;
    flex-direction: row;
    padding-left: 6%;
    font-weight: bold;

}

.first{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.div, .Amisha {
    text-align: left;
    line-height: 13vw;
    padding-left: 6%;
    float: left;
    font-size: 12vw;
    margin-top: 5vw;
    padding-bottom: 3vw;
    font-weight: bolder;
    color:black;
	font-weight: 900;
    background-color: white;
	text-shadow: 
		-0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
		0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
		0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
		0.015em 0.015em mix(#fff, #e91e63, 64%), 
		0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
		0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
		0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
		0.035em 0.035em 0 mix(#fff, #e91e63, 72%),
        -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
		0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
		0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
		0.015em 0.015em mix(#fff, #e91e63, 64%), 
		0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
		0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
		0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
		0.035em 0.035em 0 mix(#fff, #e91e63, 72%);


    animation: typewriter 0.5s steps(12) 1s 1 normal both,
             blinkTextCursor 1000ms steps(12) infinite normal;

}

@keyframes typewriter{
  from{width: 0;}
  to{width: 7.13em;}

}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color:black;}
}


h3{
    color: white;
    text-align: left;
    padding-left: 1.5%;
    padding-top: 14px;
    line-height: 1px;
}








