@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.Hi {
    color: #ae95ca;
    font-size: 8vw;
    line-height: 20px;
    text-align: left;
    flex-direction: row;
    padding-left: 6%;
    font-weight: bold;

}

.first{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.Amisha {
    color: white;
    text-align: left;
    line-height: 13vw;
    padding-left: 6%;
    float: left;
    font-size: 13vw;
    margin-top: 5vw;
    padding-bottom: 5vw;
    font-weight: bolder;
    animation: typewriter 0.5s steps(12) 1s 1 normal both,
             blinkTextCursor 1000ms steps(12) infinite normal;

}

@keyframes typewriter{
  from{width: 0;}
  to{width: 6.5em;}

}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: rgba(255,255,255,.75);}
}


h3{
    color: white;
    text-align: left;
    padding-left: 1.5%;
    padding-top: 14px;
    line-height: 1px;
}








